<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <div class="log_container">
        <h1>Register</h1>
    </div>
    <div class="base_container">
        <form action="http://barja.xyz/register" method="post" class="form_container">
            <label for="username">Username:</label>
            <input type="text" name="username" />
            <label for="passw">Password:</label>
            <input type="password" name="passw" />
            <input type="submit" value="submit" class="submit_bt"/>
        </form>
    </div>
</body>
</html>
